In [2]:
from scipy import stats
from scipy.stats import norm
import numpy as np
import speed_db as db
from importlib import reload

In [5]:
reload(db)
edge1 = db.access("taxi-fortaleza", "postgres", "73561", "0")

In [6]:
edge2 = db.access("taxi-fortaleza", "postgres", "73521", "0")

In [7]:
edge3 = db.access("taxi-fortaleza", "postgres", "86528", "0")

In [8]:
edge4 = db.access("taxi-fortaleza", "postgres", "86868", "0")

In [9]:
edge5 = db.access("taxi-fortaleza", "postgres", "72759", "0")

In [11]:
edge1

       traj_id   edge                date      speed  week_day
0    982347659  73561 2016-06-05 20:43:09  22.227774         0
1    982347659  73561 2016-06-05 20:39:03  22.227774         0
2    982347659  73561 2016-06-05 20:43:09  22.227774         0
3    982347659  73561 2016-06-05 20:43:09  22.227774         0
4    982347659  73561 2016-06-05 20:43:09  22.227774         0
5    982347659  73561 2016-06-05 20:43:09  22.227774         0
6    982347164  73561 2016-06-05 00:10:55  49.653785         0
7    982347164  73561 2016-06-05 00:12:45  49.653785         0
8    982347164  73561 2016-06-05 00:12:45  49.653785         0
9    982347164  73561 2016-06-05 00:12:45  49.653785         0
10   982347164  73561 2016-06-05 00:12:45  49.653785         0
11   982347164  73561 2016-06-05 00:12:45  49.653785         0
12   982347164  73561 2016-06-05 00:12:45  49.653785         0
13   982347164  73561 2016-06-05 00:12:45  49.653785         0
14   982347164  73561 2016-06-05 00:12:45  49.653785         0
15   982347164  73561 2016-06-05 00:12:45  49.653785         0
16   982347164  73561 2016-06-05 00:12:45  49.653785         0
17   982347164  73561 2016-06-05 00:12:45  49.653785         0
18   982347164  73561 2016-06-05 00:12:45  49.653785         0
19   982347164  73561 2016-06-05 00:12:45  49.653785         0
20   982347164  73561 2016-06-05 00:12:45  49.653785         0
21   982347164  73561 2016-06-05 00:12:45  49.653785         0
22   982347164  73561 2016-06-05 00:12:45  49.653785         0
23   982347164  73561 2016-06-05 00:12:45  49.653785         0
24   982347164  73561 2016-06-05 00:12:45  49.653785         0
25   982347164  73561 2016-06-05 00:12:45  49.653785         0
26   982347164  73561 2016-06-05 00:12:45  49.653785         0
27   982347164  73561 2016-06-05 00:12:45  49.653785         0
28   982347164  73561 2016-06-05 00:12:45  49.653785         0
29   982347164  73561 2016-06-05 00:12:45  49.653785         0
..         ...    ...                 ...        ...       ...
255  982347029  73561 2016-06-26 23:08:19  32.568429         0
256  982347029  73561 2016-06-26 23:08:19  32.568429         0
257  982347029  73561 2016-06-26 23:08:19  32.568429         0
258  982347029  73561 2016-06-26 23:08:19  32.568429         0
259  982347029  73561 2016-06-26 23:08:19  32.568429         0
260  982347029  73561 2016-06-26 23:08:19  32.568429         0
261  982347029  73561 2016-06-26 23:08:20  32.568429         0
262  982347029  73561 2016-06-26 23:08:20  32.568429         0
263  982348608  73561 2016-06-26 18:35:36   7.045279         0
264  982348608  73561 2016-06-26 18:22:40   7.045279         0
265  982346064  73561 2016-06-26 02:02:17  25.002757         0
266  982346064  73561 2016-06-26 02:02:17  25.002757         0
267  982346064  73561 2016-06-26 02:02:17  25.002757         0
268  982346064  73561 2016-06-26 02:02:17  25.002757         0
269  982346064  73561 2016-06-26 02:02:17  25.002757         0
270  982346064  73561 2016-06-26 01:58:39  25.002757         0
271  982346064  73561 2016-06-26 02:02:17  25.002757         0
272  982346064  73561 2016-06-26 02:02:17  25.002757         0
273  982346064  73561 2016-06-26 02:02:17  25.002757         0
274  982346064  73561 2016-06-26 02:02:17  25.002757         0
275  982346064  73561 2016-06-26 02:02:17  25.002757         0
276  982346064  73561 2016-06-26 02:02:17  25.002757         0
277  982346064  73561 2016-06-26 02:02:17  25.002757         0
278  982346064  73561 2016-06-26 02:02:17  25.002757         0
279  982348395  73561 2016-06-26 00:09:30  33.340832         0
280  982348395  73561 2016-06-26 00:09:30  33.340832         0
281  982348395  73561 2016-06-26 00:09:30  33.340832         0
282  982348395  73561 2016-06-26 00:09:30  33.340832         0
283  982348395  73561 2016-06-26 00:09:30  33.340832         0
284  982348395  73561 2016-06-26 00:09:30  33.340832         0

[285 rows x 5 columns]